<div id="signup_modal"  class="reveal-modal">
        <h3>Signup for DocAwards</h3>
        <form method="post" action="http://docawards.com/api/users/backbone_add" id="signup_form">
          <div class="field">
            <label>Username</label>
            <input name="data[User][username]" maxlength="45" type="text" placeholder="nikhil_sama">
          </div>

          <div class="field">
            <label>Password</label>
            <input name="data[User][password]" maxlength="45" type="password" placeholder="Secret Password">
          </div>

          <div class="field">
            <label>Role</label>
            <input name="data[User][role]" maxlength="45" type="text" placeholder="doctor" value="Doctor">
          </div>
          
          <input type="hidden" value="http://localhost:9000/docawards" name="success_redirect">

          <div class="field">
            <input type="submit" id="signup_btn" class="button primary right" value="Signup!">
          </div>
        </form>
        
        <a class="close-reveal-modal">&#215;</a>
      </div>

      <div id="login_modal" class="reveal-modal">
        <h3>Log in</h3>
        <form method="post" action="http://docawards.com/api/users/backbone_login" id="login_form">
          <div class="field">
            <label>Username</label>
            <input name="data[User][username]" maxlength="45" type="text" placeholder="nikhil_sama">
          </div>

          <div class="field">
            <label>Password</label>
            <input name="data[User][password]" maxlength="45" type="password" placeholder="Secret Password">
          </div>

          <input type="hidden" value="http://localhost:9000/docawards/" name="success_redirect">

          <div class="field">
            <input type="submit" id="login_btn" class="button primary right" value="Login!">
          </div>


        </form>

        <!-- <iframe src="http:/docawards.com/api/users/login" id="login_frame"></iframe> -->


        <a class="close-reveal-modal">&#215;</a>
      </div>

    <header id="top" class="fade">
      <div class="row header_wrapper">
        <a id="logo" href="#"><h1 class="three columns"><i class="foundicon-plus"></i>DocAwards</h1></a>
        <div class="right">
          <a href="#" class="btn signup button tiny primary">Signup</a>
          <a href="#" class="btn login button tiny secondary">Login</a>
          <a href="#" class="btn logout button tiny alert">Logout</a>

        </div>
      </div>
    </header>

    <section class="main orbit_container">
      <div id="landing-page-slider" >
        <img  src="images/landing_page_1.jpg" />
        <img  src="images/landing_page_2.jpg" />
      </div>

      <div class="ask_container">
        <div class="container_inner">
        <div class="row">
          <div class="seven columns centered">
            <h5 class="subheader slogan">Find an award winning doctor near you ..</h5>
            <form id="chosen_form" class="row collapse">
              <div class="nine mobile-three columns">
 
                <select class="chzn-select" data-placeholder="Type specialty, disease or doctor name..">
                  <option value="Type specialty, disease or doctor name.."></option>
                  <optgroup label="Doctors" class="doctors">
                  <optgroup label="Specialties" class="specialties">
                    <option value="Allergy and Immunology" data-type="speciality" data-id="1">Allergy and Immunology</option>
                    <option value="Allergy" data-type="speciality" data-id="2">Allergy</option>
                    <option value="Anesthesiology (Anesthesia)" data-type="speciality" data-id="3">Anesthesiology (Anesthesia)</option>
                    <option value="Audiology (Hearing, Ear)" data-type="speciality" data-id="4">Audiology (Hearing, Ear)</option>
                    <option value="Cardiac Electrophysiology" data-type="speciality" data-id="5">Cardiac Electrophysiology</option>
                    <option value="Cardiology (Heart)" data-type="speciality" data-id="6">Cardiology (Heart)</option>
                    <option value="Cardiovascular (Heart) Surgery" data-type="speciality" data-id="7">Cardiovascular (Heart) Surgery</option>
                    <option value="Carniofacial Surgery (Facial Plastic Surgery)" data-type="speciality" data-id="8">Carniofacial Surgery (Facial Plastic Surgery)</option>
                    <option value="Certified Nurse Midwife" data-type="speciality" data-id="9">Certified Nurse Midwife</option>
                    <option value="Certified Registered Nurse Anesthetist" data-type="speciality" data-id="10">Certified Registered Nurse Anesthetist</option>
                    <option value="Chemical Pathology" data-type="speciality" data-id="11">Chemical Pathology</option>
                    <option value="Clinical and Laboratory Immunology" data-type="speciality" data-id="12">Clinical and Laboratory Immunology</option>
                    <option value="Dentistry,A dental practitioner specializes in the care and treatment of the teeth and gums. " data-type="speciality" data-id="13">Dentistry,A dental practitioner specializes in the care and treatment of the teeth and gums. </option>
                    <option value="Dermatology (Skin, hair, nails)" data-type="speciality" data-id="14">Dermatology (Skin, hair, nails)</option>
                    <option value="Diagnostic Radiology" data-type="speciality" data-id="15">Diagnostic Radiology</option>
                    <option value="Ear Nose and Throat - Otorhinolaryngology" data-type="speciality" data-id="16">Ear Nose and Throat - Otorhinolaryngology</option>
                    <option value="Emergency Medicine (ER)" data-type="speciality" data-id="17">Emergency Medicine (ER)</option>
                    <option value="Endocrinology (Thyroid, Adrenal, Diabetes etc.)" data-type="speciality" data-id="18">Endocrinology (Thyroid, Adrenal, Diabetes etc.)</option>
                    <option value="Family Practice" data-type="speciality" data-id="19">Family Practice</option>
                    <option value="Gastroenterology (Stomach & Digestive Disorders)" data-type="speciality" data-id="20">Gastroenterology (Stomach & Digestive Disorders)</option>
                    <option value="General and Vascular Surgery" data-type="speciality" data-id="21">General and Vascular Surgery</option>
                    <option value="General Surgery" data-type="speciality" data-id="22">General Surgery</option>
                    <option value="General Vascular Surgery" data-type="speciality" data-id="23">General Vascular Surgery</option>
                    <option value="Hand and Plastic Surgery" data-type="speciality" data-id="24">Hand and Plastic Surgery</option>
                    <option value="Hematology / Oncology (Blood and Cancer)" data-type="speciality" data-id="25">Hematology / Oncology (Blood and Cancer)</option>
                    <option value="Infectious Disease" data-type="speciality" data-id="26">Infectious Disease</option>
                    <option value="Internal Medicine" data-type="speciality" data-id="27">Internal Medicine</option>
                    <option value="Nephrology (Kidney, Blood Pressure)" data-type="speciality" data-id="28">Nephrology (Kidney, Blood Pressure)</option>
                    <option value="Neuro-Oncology (Cancer & Tumors)" data-type="speciality" data-id="29">Neuro-Oncology (Cancer & Tumors)</option>
                    <option value="Neurological Surgery (Nerves)" data-type="speciality" data-id="30">Neurological Surgery (Nerves)</option>
                    <option value="Neurology (Nerves, Spinal Cord, Nerves)" data-type="speciality" data-id="31">Neurology (Nerves, Spinal Cord, Nerves)</option>
                    <option value="Nurse Practitioner" data-type="speciality" data-id="32">Nurse Practitioner</option>
                    <option value="Obstetrics / Gynecology / Pregnancy" data-type="speciality" data-id="33">Obstetrics / Gynecology / Pregnancy</option>
                    <option value="Occupational Medicine" data-type="speciality" data-id="34">Occupational Medicine</option>
                    <option value="Oncology (Cancer)" data-type="speciality" data-id="35">Oncology (Cancer)</option>
                    <option value="Ophthalmology (Eye, Vision)" data-type="speciality" data-id="36">Ophthalmology (Eye, Vision)</option>
                    <option value="Oral and Maxillofacial Surgery" data-type="speciality" data-id="37">Oral and Maxillofacial Surgery</option>
                    <option value="Orthodontics (Tooth Braces)" data-type="speciality" data-id="38">Orthodontics (Tooth Braces)</option>
                    <option value="Orthopedic Surgery (Fracture, Tear, Joint Dislocation)" data-type="speciality" data-id="39">Orthopedic Surgery (Fracture, Tear, Joint Dislocation)</option>
                    <option value="Otolaryngology (Tonsil, thyroid, neck etc)" data-type="speciality" data-id="40">Otolaryngology (Tonsil, thyroid, neck etc)</option>
                    <option value="Pain Management" data-type="speciality" data-id="41">Pain Management</option>
                    <option value="Pain Medicine" data-type="speciality" data-id="42">Pain Medicine</option>
                    <option value="Pathology (Laboratories)" data-type="speciality" data-id="43">Pathology (Laboratories)</option>
                    <option value="Pediatric Nurse Practitioner" data-type="speciality" data-id="44">Pediatric Nurse Practitioner</option>
                    <option value="Pediatrics (Infants and Children)" data-type="speciality" data-id="45">Pediatrics (Infants and Children)</option>
                    <option value="Perinatology (Infants before birth)" data-type="speciality" data-id="46">Perinatology (Infants before birth)</option>
                    <option value="Plastic and Reconstructive Surgery" data-type="speciality" data-id="47">Plastic and Reconstructive Surgery</option>
                    <option value="Podiatry (Foot, Lower leg)" data-type="speciality" data-id="48">Podiatry (Foot, Lower leg)</option>
                    <option value="Proctology (Anus, Rectum, Colon)" data-type="speciality" data-id="49">Proctology (Anus, Rectum, Colon)</option>
                    <option value="Prosthetics/Orthotics (Artificial Limbs)" data-type="speciality" data-id="50">Prosthetics/Orthotics (Artificial Limbs)</option>
                    <option value="Psychiatry (Mental Disorders)" data-type="speciality" data-id="51">Psychiatry (Mental Disorders)</option>
                    <option value="Psychology - Clinical" data-type="speciality" data-id="52">Psychology - Clinical</option>
                    <option value="Pulmonary Medicine (Chest Medicine, Lung Specialist)" data-type="speciality" data-id="53">Pulmonary Medicine (Chest Medicine, Lung Specialist)</option>
                    <option value="Radiation Oncology" data-type="speciality" data-id="54">Radiation Oncology</option>
                    <option value="Radiology (X-RAY, MRI, Ultrasound Imaging etc)" data-type="speciality" data-id="55">Radiology (X-RAY, MRI, Ultrasound Imaging etc)</option>
                    <option value="Rheumatology (Bone, Joints)" data-type="speciality" data-id="56">Rheumatology (Bone, Joints)</option>
                    <option value="Sleep Medicine" data-type="speciality" data-id="57">Sleep Medicine</option>
                    <option value="Spine Surgery" data-type="speciality" data-id="58">Spine Surgery</option>
                    <option value="Sports Medicine" data-type="speciality" data-id="59">Sports Medicine</option>
                    <option value="Thoracic Surgery" data-type="speciality" data-id="60">Thoracic Surgery</option>
                    <option value="Urology" data-type="speciality" data-id="61">Urology</option>
                    <option value="Vascular Medicine" data-type="speciality" data-id="62">Vascular Medicine</option>
                    <option value="Critical Care" data-type="speciality" data-id="63">Critical Care</option>
                  </optgroup>
                  <optgroup label="Diseases" class="diseases">
                  </optgroup>
                  
                </select>
              </div>
              <div class="three mobile-one columns">
                <a href="#" id="search_btn" class="postfix button expand">Find!</a>
              </div>
            </form>
          </div><!--seven_columns-->
        

        </div><!--container_inner-->
      </div>

      </div><!--ask_container-->
    </section>

    <section class="carousel fade">
     <!-- Elastislide Carousel -->
          <div id="carousel" class="es-carousel-wrapper">
            <h1>Our panelists</h1>

            <div class="es-carousel">
              <ul>

                <li><a href="#"><img src="images/large/2.jpg" alt="image02" /></a></li>
                <li><a href="#"><img src="images/large/3.jpg" alt="image03" /></a></li>
                <li><a href="#"><img src="images/large/4.jpg" alt="image04" /></a></li>
                <li><a href="#"><img src="images/large/5.jpg" alt="image05" /></a></li>
                <li><a href="#"><img src="images/large/6.jpg" alt="image06" /></a></li>
                <li><a href="#"><img src="images/large/7.jpg" alt="image07" /></a></li>
                <li><a href="#"><img src="images/large/8.jpg" alt="image08" /></a></li>
                <li><a href="#"><img src="images/large/9.jpg" alt="image09" /></a></li>
                <li><a href="#"><img src="images/large/10.jpg" alt="image10" /></a></li>
                <li><a href="#"><img src="images/large/11.jpg" alt="image11" /></a></li>
                <li><a href="#"><img src="images/large/12.jpg" alt="image12" /></a></li>
                <li><a href="#"><img src="images/large/13.jpg" alt="image13" /></a></li>
                <li><a href="#"><img src="images/large/14.jpg" alt="image14" /></a></li>
                <li><a href="#"><img src="images/large/15.jpg" alt="image15" /></a></li>
                <li><a href="#"><img src="images/large/16.jpg" alt="image16" /></a></li>
                <li><a href="#"><img src="images/large/17.jpg" alt="image17" /></a></li>
                <li><a href="#"><img src="images/large/18.jpg" alt="image18" /></a></li>
                <li><a href="#"><img src="images/large/19.jpg" alt="image19" /></a></li>
                <li><a href="#"><img src="images/large/20.jpg" alt="image20" /></a></li>
                <li><a href="#"><img src="images/large/21.jpg" alt="image21" /></a></li>
                <li><a href="#"><img src="images/large/22.jpg" alt="image22" /></a></li>
                <li><a href="#"><img src="images/large/23.jpg" alt="image23" /></a></li>
                <li><a href="#"><img src="images/large/24.jpg" alt="image24" /></a></li>
                <li><a href="#"><img src="images/large/25.jpg" alt="image25" /></a></li>
              </ul>
            </div>
          </div>
          <!-- End Elastislide Carousel -->

    </section>