 <div id="add_specialization" class="reveal-modal">
  <h3>Add your specialization</h3>
  <div class="field">
  <form class="add_new_entry" data-servermodel="specialties" data-targetselect="#DocspeclinkSpecialtyId" method="post">
    <label>Name of speciality</label>
      <input name="data[Specialty][name]" maxlength="100" type="text">
    </div>

    <div class="field">
      <label>Description</label>
      <input name="data[Specialty][description]" type="text">
    </div>

    <div class="field">
      <input type="submit" value="Add Speciality" class="button success tiny right">
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
