<div class="consultation_field" style="display: none;">
  <div class="field" >
      <div class="row">
        <div class="three columns">
          <label>Location<small>( <a href="#" class="open_modal" data-modal="add_location">Add new</a> )</small></label>
          <select class="chosen_temp" name="data[Docconsultlocation][<%= id %>][location_id]">
            <option value="2">Sama Chest Center</option>
            <option value="3">Sir Ganga Ram Hospital</option>
            <option value="4">St Lukes Rosevelt Hospital</option>
          </select>
        </div>

        <div class="three columns">
          <label>Location Type</label>
          <select class="chosen_temp" name="data[Docconsultlocation][<%= id %>][consultlocationtype_id]">
            <option value="1">Hospital</option>
            <option value="2">Home Clinic</option>
            <option value="3">OPD Clinic</option>
          </select>
        </div>

        <div class="three columns">
          <label>Type</label>
          <select class="chosen_temp" name="data[Docconsultlocation][<%= id %>][ConsultTiming][0][consult_type_id]">
            <option value="1">Walk-in</option>
            <option value="2">Schedule Appointment</option>
          </select>
        </div>

        <div class="three columns">
          <label>Additional Information<span class="has-tip tip-top" data-width="200" title="Enter any additional information that would help to locate your consultation room within the location you have selected.  Examples include room number, floor number, or text directions on how to get to your consult location from the entrance of the main location">(?)</span></label>
          <input name="data[Docconsultlocation][<%= id %>][addl]" maxlength="45" type="text" placeholder="eg. floor, room num etc.">
        </div>
      </div><!--row-->
  </div><!--field-->


  <div class="field">
    <div class="row">
      <div class="three columns">
        <label>Start Time</label>
        <input name="data[Docconsultlocation][<%= id %>][ConsultTiming][0][start]" type="text"/>
      </div>

      <div class="three columns">
        <label>End Time</label>
        <input name="data[Docconsultlocation][<%= id %>][ConsultTiming][0][end]" type="text"/>
      </div>

      <div class="six columns days_checkboxes">
        <label>Days</label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> M
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> T
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> W
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> Th
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> F
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> Sat
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> S
        </label>

      </div>


    </div><!--row-->
    
  </div><!--field-->
</div><!--consultation_field-->