<div class="consultation_field" style="display: none;">
  <div class="field" >
      <div class="row">
        <div class="four columns">
          <label>Location</label>
          <select class="chosen_temp" name="data[Docconsultlocation][<%= id %>][location_id]">
            <option value="2">Sama Chest Center</option>
            <option value="3">Sir Ganga Ram Hospital</option>
            <option value="4">St Lukes Rosevelt Hospital</option>
          </select>
        </div>

        <div class="four columns">
          <label>Location Type</label>
          <select class="chosen_temp" name="data[Docconsultlocation][<%= id %>][consultlocationtype_id]">
            <option value="1">HOSPITAL</option>
            <option value="2">HOME_CLINIC</option>
            <option value="3">OPD CLINIC</option>
          </select>
        </div>

        <div class="four columns">
          <label>Additional Information</label>
          <input name="data[Docconsultlocation][<%= id %>][addl]" maxlength="45" type="text" >
        </div>
      </div><!--row-->
  </div><!--field-->


  <div class="field">
    <div class="row">
      <div class="three columns">
        <label>Start Time</label>
        <input name="data[Docconsultlocation][<%= id %>][ConsultTiming][0][start]" type="text"/>
      </div>

      <div class="three columns">
        <label>End Time</label>
        <input name="data[Docconsultlocation][<%= id %>][ConsultTiming][0][end]" type="text"/>
      </div>

      <div class="six columns days_checkboxes">
        <label>Days</label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> M
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> T
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> W
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> Th
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> F
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> Sat
        </label>
        <label class="two column inline">
          <input type="checkbox" >
          <span class="checkbox"></span> S
        </label>

      </div>


    </div><!--row-->
    
  </div><!--field-->
</div><!--consultation_field-->