<div class="contact_field" style="display: none;">
    <div class="row">
      <div class="four columns">
        <label>Phone Number</label>
        <input name="data[DoctorContact][<%= id %>][phone]" maxlength="45" type="text" id="DoctorContactPhone">
      </div>

      <div class="four columns">
        <label>Email</label>
        <input name="data[DoctorContact][<%= id %>][email]" maxlength="150" type="text" id="DoctorContactEmail">
      </div>

      <div class="four columns">
        <label>Type</label>
        <input name="data[DoctorContact][<%= id %>][type]" maxlength="45" type="text" id="DoctorContactType">
      </div>


    </div>
   
</div><!--field-->
