<div class="experience_field" style="display: none">
  <div class="row">
    <div class="three columns">
      <label>From</label>
      <input type="text" name="data[Experience][<%= id %>][from]" class="datepicker_temp">
    </div>

    <div class="three columns">
      <label>To</label>
      <input type="text" name="data[Experience][<%= id %>][to]" class="datepicker_temp">
    </div>

    <div class="three columns">
      <label>Department</label>
      <input name="data[Experience][<%= id %>][dept]" maxlength="45" type="text" >
    </div>

    <div class="three columns">
      <label>Location  <small>( <a href="#" class="open_modal" data-modal="add_location">Add new</a> )</small></label></label>
      <select class="chosen_temp location_select" name="data[Experience][<%= id %>][location_id]" data-servermodel="locations">
      </select>

     
    </div>
    
  </div><!--row-->
</div><!--field-->