  <div class="row">
        <div class="twelve columns">
          <form class="primary consultation" method="post">


            <div class="field">
              <div class="row">
                <div class="three columns">
                  <label>Location</label>
                  <select class="chosen_simple" name="data[Docconsultlocation][0][location_id]">
                    <option value="2">Sama Chest Center</option>
                    <option value="3">Sir Ganga Ram Hospital</option>
                    <option value="4">St Lukes Rosevelt Hospital</option>
                  </select>
                </div>

                <div class="three columns">
                  <label>Location Type</label>
                  <select class="chosen_simple" name="data[Docconsultlocation][0][consultlocationtype_id]">
                    <option value="1">Hospital</option>
                    <option value="2">Home Clinic</option>
                    <option value="3">OPD Clinic</option>
                  </select>
                </div>
                <div class="three columns">
                  <label>Type</label>
                  <select class="chosen_simple" name="data[Docconsultlocation][0][ConsultTiming][0][consult_type_id]">
                    <option value="1">Walkin</option>
                    <option value="2">Schedule Appointment</option>
                  </select>
                </div>
                <div class="three columns">
                  <label>Additional Information</label>
                  <input name="data[Docconsultlocation][0][addl]" maxlength="45" type="text" id="DocconsultlocationAddl">
                </div>
              </div><!--row-->
              
            </div><!--field-->


            <div class="field">
              <div class="row">
                <div class="three columns">
                  <label>Start Time</label>
                  <input name="data[Docconsultlocation][0][ConsultTiming][0][start]"  type="text"/>
                </div>

                <div class="three columns">
                  <label>End Time</label>
                  <input name="data[Docconsultlocation][0][ConsultTiming][0][end]"  type="text"/>
                </div>


                <div class="six columns days_checkboxes">
                  <label>Days</label>
                  <label class="two column inline">
                    <input type="checkbox" >
                    <span class="checkbox"></span> M
                  </label>
                  <label class="two column inline">
                    <input type="checkbox" >
                    <span class="checkbox"></span> T
                  </label>
                  <label class="two column inline">
                    <input type="checkbox" >
                    <span class="checkbox"></span> W
                  </label>
                  <label class="two column inline">
                    <input type="checkbox" >
                    <span class="checkbox"></span> Th
                  </label>
                  <label class="two column inline">
                    <input type="checkbox" >
                    <span class="checkbox"></span> F
                  </label>
                  <label class="two column inline">
                    <input type="checkbox" >
                    <span class="checkbox"></span> Sat
                  </label>
                  <label class="two column inline">
                    <input type="checkbox" >
                    <span class="checkbox"></span> S
                  </label>

                </div>


              </div><!--row-->
              
            </div><!--field-->

            <div class="field button_wrapper">
              <div class="row">
                <a href="#" class="button medium add_another" data-elem="consultation_field">Add another Consultation</a>            
              </div><!--row-->   
            </div>

            
          </form>

        </div>
      </div>
      <div class="row">
        <div class="right button_list">
          <a href="#create_profile/experiences" class="button tiny secondary prev">Previous</a>
          <a href="#create_profile/contact_details" class="button tiny primary next">Next</a>
        </div>
      </div>