<dl class="tabs contained">
    <dd class="active"><a href="#create_profile/personal_details">Personal Details</a></dd>
    <dd><a href="#create_profile/specializations">Specializations</a></dd>
    <dd><a href="#create_profile/qualifications">Qualifications</a></dd>
    <dd><a href="#create_profile/experiences">Experiences</a></dd>
    <dd><a href="#create_profile/consultation">Consultation</a></dd>
    <dd><a href="#create_profile/contact_details">Contact Details</a></dd>
</dl>


<ul class="tabs-content contained">
    <li class="active" id="personal_detailsTab"></li>
    <li id="specializationsTab"></li>
    <li id="qualificationsTab"></li>
    <li id="experiencesTab"></li>
    <li id="consultationTab"></li>
    <li id="contact_detailsTab"></li>
</ul>