<a href="#doctor/<%= id %>">
  <div class="row inner">
    <div class="three columns">
      <a href="#doctor/<%= id %>" class="th"><img src="<%= image %>" /></a>
    </div>

    <div class="nine columns">
      <a href="#doctor/<%= id %>"><h3 class="doctor_name"><%= name %></h3></a>
      <p class="bui"><%= one_line_intro %></p>
    </div>
  </div><!--row-->      

  <div class="row meta bottom eleven columns centered">
    <div class="seven columns">
      <div class="row loc-spec-icon">
        <span class="has-tip tip-right white-tool-tip" data-width="200" title="<%= specialty_tool_tip %>">
          <span class="foundicon-idea icon"></span>
              <%= specialty %>
              <span></span>
        </span>
      </div>
      <div class="row">
        <span class="has-tip tip-right white-tool-tip" title="<%= location_tool_tip %>">
          <span class="foundicon-location icon"></span>
            <%= location %>
          <span></span>
        </span>         
      </div>
    </div>

    <div class="thank_container five columns">
      <a href="#doctor/<%= id %>" class="button tiny">View Profile</a>
    </div>
  </div>
</a>