<section class="row doctor_profile_headshot">
      <div class="image_wrapper two columns">
        <span href="#" class="th"><img src="http://docawards.com/api/<%= headshot.image %>" /></span>
      </div>

      <div class="ten columns">  
        <h2>Dr. <%= headshot.first_name %>  <%= headshot.last_name %></h2>
        <h4 class="subheader"><%= headshot.one_line_intro %></h4>
      </div>
    </section> 

    <hr />

    <section class="row doctor_achievements">
    
      <div class="six columns">
        <!-- Feed Entry -->
        <div class="row about_doc feed_entry doctor_list">
          <h5>Specializations</h5>
          <% _.each(specializations, function(specialization) { %>
            <p class="subheader">
              <span class="has-tip tip-right" data-width="200" title="<%= specialization["Specialty"]["description"] %>" width=>
              <%= specialization["Specialty"]["name"] %></p>
              </span>
          <% }); %>

          <hr>
          
          <h5>Education and Training</h5>
          <% _.each(qualifications, function(qualification) { %>
            <p class="subheader"><%= qualification["Degree"]["name"] %>, 
              <span class="has-tip tip-right" data-width="200" 
              title="<%= qualification["Location"]['name']+' in '+qualification["Location"]["neighborhood"]+', '+qualification["Location"]['City']['name']+', '+qualification["Location"]['Country']['name']%>">
              <%= qualification["Location"]["name"] %></span></p>
          <% }); %>

        </div><!-- End Feed Entry -->
      </div><!--six columns-->
    

      <div class="six columns">
        <!-- Feed Entry -->
        <div class="row about_doc feed_entry doctor_list">
          <h5>Experience</h5>
          <% _.each(experiences, function(experience) { %>
            <div class="exp">
              <%= experience["from"] %> to <%= experience["to"] %> at <span class="has-tip" data-width="200" title="<%= experience["Location"]['name']+' in '+experience["Location"]["neighborhood"]+', '+experience["Location"]['City']['name']+', '+experience["Location"]['Country']['name']%>"<strong><%= experience["Location"]["name"] %></strong></span>
            </div><!--exp-->
          <% }); %>

        </div><!-- End Feed Entry -->
      </div><!--six columns-->
    </section>

     <section class="doctor_timings row">
      <div class="seven columns">
        <div class="row feed_entry doctor_list">
           <div class="row">   
            <div class="twelve columns">
              <h5>Contact</h5>

              <table class="twelve">
                <tbody>
                  <% _.each(contacts, function(contact) { %>
                    <tr>
                      <td>Direct</td>
                      <td><i class="foundicon-phone"></i><%= contact["phone"] %></td>
                      <td><i class="foundicon-mail"></i><%= contact["email"] %></td>
                    </tr>
                  <% }); %>
                  
                </tbody>
              </table>
            </div>
          </div><!--row-->
          
          <hr>

          <div class="row">   
            <div class="twelve columns">
              <h5>Location and Timings</h5>

              <table class="twelve">
                <tbody>
                  <% console.log(consultations) %>
                  <% _.each(consultations, function(consultation) { %>
                    <tr>
                      <% if(consultation["ConsultTiming"][0]) { %>
                        <td>Mon, Wed, Thursday</td>
                        <td><%= consultation["ConsultTiming"][0]["start"] %> to <%= consultation["ConsultTiming"][0]["end"] %></td>
                        <td><%= consultation["ConsultTiming"][0]["ConsultType"]["name"] %></td>
                        <td><strong><%= consultation["Location"]["name"] %></strong>
                          <p><%= consultation["Location"]["address"] %>, <%= consultation["Location"]["City"]["name"] %> - <%= consultation["Location"]["PinCode"]["pin_code"] %></p>
                        </td>
                      <% } %>
                      
                    </tr>
                  <% }); %>

          
                  
                </tbody>
              </table>
            </div>
          </div><!--row-->


        </div><!--feed_entry-->
      </div><!--seven columns-->

     <aside class="five columns">
      <div class="panel maps">
        <div class="flex-video">
          <div id="map"></div>
        </div>
      </div><!--panel-->

    </aside>
    </section>