/* line 26, ../sass/base.scss */
body {
  color: #5b5b5c;
}
/* line 28, ../sass/base.scss */
body h1, body h2, body h3 {
  color: #5b5b5c;
}

/* line 64, ../sass/base.scss */
.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.75);
}

/* line 68, ../sass/base.scss */
.dropdown ul form {
  width: 180px;
}

/* line 72, ../sass/base.scss */
.button_list {
  margin-right: 20px;
}

/* line 80, ../sass/base.scss */
body {
  overflow-x: hidden;
}

/* line 83, ../sass/base.scss */
a:hover {
  color: #319bfc;
}

/* line 87, ../sass/base.scss */
a:active {
  color: #0267c5;
}

/* line 92, ../sass/base.scss */
header#header span.foundicon-plus {
  padding-right: 10px;
  font-size: 15px;
}

/* line 98, ../sass/base.scss */
.notifications {
  width: 100%;
}
/* line 100, ../sass/base.scss */
.notifications .alert-box {
  display: none;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  line-height: 35px;
}

/* line 113, ../sass/base.scss */
section.jumbotron {
  margin-top: 60px;
  padding: 10px 0;
}
/* line 117, ../sass/base.scss */
section.jumbotron div.ask_main h2, section.jumbotron div.find_main h2 {
  font-size: 30px;
  color: #5b5b5c;
}
/* line 119, ../sass/base.scss */
section.jumbotron div.ask_main h2 span.foundicon-search, section.jumbotron div.find_main h2 span.foundicon-search {
  padding-right: 10px;
  position: relative;
  top: 8px;
}
/* line 127, ../sass/base.scss */
section.jumbotron div.ask_main .row.collapse, section.jumbotron div.find_main .row.collapse {
  margin-top: 15px;
}
/* line 129, ../sass/base.scss */
section.jumbotron div.ask_main .row.collapse input.ask, section.jumbotron div.ask_main .row.collapse a.button, section.jumbotron div.find_main .row.collapse input.ask, section.jumbotron div.find_main .row.collapse a.button {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 22px;
}
/* line 135, ../sass/base.scss */
section.jumbotron div.ask_main .row.collapse a.button, section.jumbotron div.find_main .row.collapse a.button {
  line-height: 0;
}
/* line 142, ../sass/base.scss */
section.jumbotron div.find_main h2 {
  position: relative;
  top: -5px;
}
/* line 145, ../sass/base.scss */
section.jumbotron div.find_main h2 span.foundicon-location {
  position: relative;
  top: 5px;
}
/* line 152, ../sass/base.scss */
section.jumbotron .find_doctor_field {
  margin-top: 15px;
}
/* line 155, ../sass/base.scss */
section.jumbotron .find_doctor_field .button.radius {
  padding: 8px 20px 9px;
}

/* line 161, ../sass/base.scss */
#header {
  z-index: 900;
}

/* line 165, ../sass/base.scss */
.top-bar ul li .round.progress.success {
  width: 80%;
  margin-left: 10%;
  height: 12px;
}

/* line 171, ../sass/base.scss */
.top-bar ul > li.search form {
  margin-top: 10px;
}

/* line 175, ../sass/base.scss */
.top-bar ul > li.search form input[type="text"] {
  width: 64%;
  padding: 0 5px;
}

/* line 179, ../sass/base.scss */
.top-bar ul > li.search form input[type="text"] + .button {
  padding: 7px 12px 7px;
}

/* line 183, ../sass/base.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  height: 42px;
  font-size: 18px;
}

/* line 195, ../sass/base.scss */
.container_inner .chzn-container.chzn-container-single, .container_inner .chzn-container-single .chzn-drop {
  min-width: 390px !important;
}

/* line 199, ../sass/base.scss */
.container_inner .chzn-container-single .chzn-search input {
  min-width: 360px;
}

/* line 203, ../sass/base.scss */
#content {
  margin-top: 30px;
}
/* line 206, ../sass/base.scss */
#content .feed_entry:hover {
  color: #282829;
}
/* line 211, ../sass/base.scss */
#content .feed_entry {
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-top: 4px solid #73aef7;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 217, ../sass/base.scss */
#content .feed_entry:hover {
  border-top: 4px solid #0382f7;
}
/* line 219, ../sass/base.scss */
#content .feed_entry:hover .meta.bottom {
  background: #0382f7;
}
/* line 222, ../sass/base.scss */
#content .feed_entry:hover .question.h3 {
  color: black;
}
/* line 227, ../sass/base.scss */
#content .feed_entry .row.loc-spec-icon {
  height: 18px;
  overflow: hidden;
}
/* line 231, ../sass/base.scss */
#content .feed_entry .white-tool-tip, #content .feed_entry .white-tool-tip {
  font-weight: normal;
  color: white;
  border-bottom: none;
}
/* line 238, ../sass/base.scss */
#content .feed_entry p.bio {
  font-size: 13px;
}
/* line 243, ../sass/base.scss */
#content .feed_entry .meta {
  background: #e1e1e1;
  margin-left: -20px;
  width: 110%;
  padding-top: 10px;
  height: 45px;
}
/* line 249, ../sass/base.scss */
#content .feed_entry .meta.top {
  margin-top: -20px;
}
/* line 253, ../sass/base.scss */
#content .feed_entry .meta.bottom {
  position: relative;
  bottom: -20px;
  height: 52px;
  background: #73aef7;
}
/* line 258, ../sass/base.scss */
#content .feed_entry .meta.bottom a.button {
  margin-right: 30px;
  padding: 5px 18px 6px;
  font-size: 14px;
}
/* line 262, ../sass/base.scss */
#content .feed_entry .meta.bottom a.button span.foundicon-checkmark {
  padding-right: 10px;
  position: relative;
  top: 2px;
}
/* line 269, ../sass/base.scss */
#content .feed_entry .meta img {
  padding-right: 10px;
  padding-top: 0;
  display: block;
  float: left;
  margin-top: 4px;
}
/* line 277, ../sass/base.scss */
#content .feed_entry .meta p.time {
  color: #282829;
  font-style: italic;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
  margin-top: 4px;
}
/* line 286, ../sass/base.scss */
#content .feed_entry .question {
  margin-top: 0px;
}
/* line 288, ../sass/base.scss */
#content .feed_entry .question h3 {
  margin: 0;
}
/* line 291, ../sass/base.scss */
#content .feed_entry .question a:hover h3 {
  color: #282829;
}
/* line 294, ../sass/base.scss */
#content .feed_entry .question a:active h3 {
  color: #0267c5;
}
/* line 299, ../sass/base.scss */
#content .feed_entry .answer {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 305, ../sass/base.scss */
#content .feed_entry.doctor_list h3.doctor_name {
  margin-top: 0;
}
/* line 308, ../sass/base.scss */
#content .feed_entry.doctor_list .icon {
  position: relative;
  left: -2px;
  top: 2px;
}
/* line 313, ../sass/base.scss */
#content .feed_entry.doctor_list .meta.bottom {
  width: 120%;
  height: 55px;
}
/* line 318, ../sass/base.scss */
#content .feed_entry.doctor_list .about_doctor li {
  font-size: 14px;
  padding-top: 5px;
}
/* line 325, ../sass/base.scss */
#content .row.inner {
  height: 160px;
}
/* line 331, ../sass/base.scss */
#content .nav_sidebar .health_profile_header {
  font-size: 14px;
  color: #585858;
}
/* line 334, ../sass/base.scss */
#content .nav_sidebar .health_profile_header strong {
  color: #323232;
}
/* line 339, ../sass/base.scss */
#content .nav_sidebar dl.tabs.vertical dd.active a {
  background: #3772AC;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
/* line 344, ../sass/base.scss */
#content .nav_sidebar dl.tabs.vertical dd a:hover {
  background: #d8d8d8;
}
/* line 348, ../sass/base.scss */
#content .nav_sidebar dl.tabs.vertical dd.active a:hover {
  background: #3772AC;
}
/* line 352, ../sass/base.scss */
#content .nav_sidebar dl.tabs.vertical dd.active {
  border-left-color: #2B5885;
  border-top-color: #2B5885;
}
/* line 357, ../sass/base.scss */
#content .nav_sidebar .profile_image_holder {
  margin-bottom: 20px;
  position: relative;
}
/* line 361, ../sass/base.scss */
#content .nav_sidebar .profile_image_holder .button.edit_link {
  position: absolute;
  top: 85px;
  left: 70px;
  display: none;
}
/* line 368, ../sass/base.scss */
#content .nav_sidebar .profile_image_holder:hover .edit_link {
  display: block;
}
/* line 374, ../sass/base.scss */
#content .recommended_topics {
  overflow: hidden;
}
/* line 376, ../sass/base.scss */
#content .recommended_topics h3 {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: -20px;
  margin-left: -20px;
  width: 124%;
  padding: 10px;
  background: #73aef7;
}
/* line 385, ../sass/base.scss */
#content .recommended_topics:hover {
  background: #FFF;
}
/* line 386, ../sass/base.scss */
#content .recommended_topics:hover h3 {
  background: #0382f7;
  color: #FFF;
}
/* line 393, ../sass/base.scss */
#content .recommended_topics ul {
  padding: 5px;
}
/* line 395, ../sass/base.scss */
#content .recommended_topics ul li {
  padding: 10px  0px !important;
  border-top: 1px solid #e4e4e4;
}
/* line 398, ../sass/base.scss */
#content .recommended_topics ul li:hover {
  border-color: #d7d7d7;
}

/* line 412, ../sass/base.scss */
.doctor_profile {
  margin-top: 80px !important;
}
/* line 415, ../sass/base.scss */
.doctor_profile .feed_entry {
  padding-top: 5px !important;
}
/* line 419, ../sass/base.scss */
.doctor_profile table tr i {
  position: relative;
  top: 3px;
  left: -5px;
}
/* line 425, ../sass/base.scss */
.doctor_profile .exp {
  padding-top: 10px;
}

/* line 438, ../sass/base.scss */
.doctor_profile_headshot .subheader {
  font-size: 20px;
}

/* line 444, ../sass/base.scss */
.healthline .dates {
  border-right: 5px solid #f1f1f1;
}
/* line 449, ../sass/base.scss */
.healthline .dates_wrap:hover .dates {
  border-color: #d7d7d7;
}
/* line 454, ../sass/base.scss */
.healthline fieldset {
  padding-bottom: 15px;
}
/* line 458, ../sass/base.scss */
.healthline .health_timeline_header {
  font-weight: bold !important;
}

/* line 463, ../sass/base.scss */
.flex-video {
  padding-top: 0 !important;
}

/* line 467, ../sass/base.scss */
#map {
  min-height: 400px !important;
}
/* line 470, ../sass/base.scss */
#map .infobubble .text {
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 0;
}

/* line 483, ../sass/base.scss */
.logout {
  display: none;
}

/* line 502, ../sass/base.scss */
.landing_page {
  border-top: 3px solid #0382f7;
}
/* line 504, ../sass/base.scss */
.landing_page #logo h1 {
  color: #000;
  font-size: 12px;
}
/* line 507, ../sass/base.scss */
.landing_page #logo h1 i {
  font-size: 10px;
  position: relative;
  top: 1px;
  left: -2px;
}
/* line 517, ../sass/base.scss */
.landing_page header#top {
  height: 60px;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
}
/* line 525, ../sass/base.scss */
.landing_page header#top .header_wrapper {
  padding-top: 8px;
}
/* line 528, ../sass/base.scss */
.landing_page header#top .btn {
  margin-top: 8px;
}
/* line 534, ../sass/base.scss */
.landing_page .main #landing-page-slider, .landing_page .main div.orbit-wrapper {
  position: absolute;
  min-height: 400px;
  z-index: -1;
}
/* line 538, ../sass/base.scss */
.landing_page .main #landing-page-slider div.orbit .orbit-slide, .landing_page .main div.orbit-wrapper div.orbit .orbit-slide {
  width: 100%;
}
/* line 542, ../sass/base.scss */
.landing_page .main .ask_container {
  padding-top: 25%;
}
/* line 544, ../sass/base.scss */
.landing_page .main .ask_container .container_inner {
  background: rgba(255, 255, 255, 0.4);
  padding-bottom: 20px;
}
/* line 549, ../sass/base.scss */
.landing_page .main .slogan {
  margin-top: 0px !important;
  color: #000;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
}
/* line 556, ../sass/base.scss */
.landing_page .main input, .landing_page .main .select_input {
  padding: 20px 10px;
  border-color: #025AAB;
}
/* line 561, ../sass/base.scss */
.landing_page .main .select_input {
  padding: 10px !important;
  padding-bottom: 8px !important;
  background: #f9f9f9 !important;
  outline: none;
}
/* line 566, ../sass/base.scss */
.landing_page .main .select_input:focus {
  background: #fff !important;
}
/* line 571, ../sass/base.scss */
.landing_page .main a.button.postfix {
  padding-top: 12px !important;
  padding-bottom: 28px;
}
/* line 577, ../sass/base.scss */
.landing_page .es-carousel-wrapper {
  margin-top: 5%;
}
/* line 579, ../sass/base.scss */
.landing_page .es-carousel-wrapper h1 {
  color: #8e8e8f;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  background: whitesmoke;
  padding: 10px 0;
}

/* line 591, ../sass/base.scss */
.ui-state-error {
  min-width: 390px;
}

/* line 595, ../sass/base.scss */
.ui-autocomplete.ui-menu.ui-widget {
  width: 390px !important;
  height: 200px;
  overflow-y: auto;
}

/* line 601, ../sass/base.scss */
.button.dropdown {
  cursor: default;
}

/* line 605, ../sass/base.scss */
.button.dropdown > ul li {
  display: block;
  color: #555;
  font-size: 15px;
  font-weight: normal;
  padding: 6px 14px;
  text-align: left;
  cursor: default !important;
}

/* line 615, ../sass/base.scss */
.chzn-container-single .chzn-single {
  height: 42px;
  line-height: 42px;
  font-size: 19px;
}
/* line 619, ../sass/base.scss */
.chzn-container-single .chzn-single span {
  color: #8e8e8f;
}

/* line 628, ../sass/base.scss */
label small {
  font-size: 12px;
}

/* line 632, ../sass/base.scss */
.days_checkboxes .two, .row .two {
  width: 13.66667%;
}

/* line 636, ../sass/base.scss */
.add_another {
  margin-left: 5px;
}

/* line 640, ../sass/base.scss */
.primary .chzn-container {
  width: 216px !important;
}
/* line 642, ../sass/base.scss */
.primary .chzn-container .chzn-drop {
  width: 216px !important;
}
/* line 644, ../sass/base.scss */
.primary .chzn-container .chzn-drop input {
  width: 190px !important;
}

/* line 651, ../sass/base.scss */
.primary .small + .chzn-container {
  width: 90px !important;
}
/* line 653, ../sass/base.scss */
.primary .small + .chzn-container .chzn-drop {
  width: 90px !important;
}
/* line 655, ../sass/base.scss */
.primary .small + .chzn-container .chzn-drop input {
  width: 60px !important;
}

/* line 661, ../sass/base.scss */
.primary .multiple_select + .chzn-container {
  width: 96% !important;
}
/* line 663, ../sass/base.scss */
.primary .multiple_select + .chzn-container .chzn-drop {
  width: 100% !important;
}

/* line 669, ../sass/base.scss */
.create_profile {
  margin-top: 80px !important;
}
/* line 671, ../sass/base.scss */
.create_profile textarea {
  height: 120px;
}
/* line 674, ../sass/base.scss */
.create_profile .row.select_row {
  margin-left: 0;
}

/* line 679, ../sass/base.scss */
.field {
  margin-top: 20px;
}

/* line 683, ../sass/base.scss */
.field:first-child {
  margin-top: 0;
}

/* line 687, ../sass/base.scss */
.button_list {
  margin-top: 20px;
}

/* line 691, ../sass/base.scss */
.new_speciality {
  margin-top: 40px;
}

/* line 695, ../sass/base.scss */
.location_modal_link {
  margin-top: 30px;
}

/* line 700, ../sass/base.scss */
.reveal-modal .chzn-container-single, .reveal-modal .chzn-drop, .reveal-modal .chzn-results {
  width: 100% !important;
}

/* line 704, ../sass/base.scss */
.reveal-modal .chzn-search input {
  width: 94% !important;
  height: 30px;
}

/* line 710, ../sass/base.scss */
.multiple_select {
  height: 100px !important;
}

/* line 714, ../sass/base.scss */
.chzn-container-multi .chzn-choices li.search-field, .chzn-container-multi .chzn-choices li.search-field input {
  height: 30px !important;
}

/* line 718, ../sass/base.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  font-size: 12px;
  padding-left: 3px;
  padding-right: 19px;
}
