<footer class="fade">
      <div class="twelve columns">
        <hr />
        <div class="row">
          <div class="five columns">
            <p>&copy; Copyright DocAwards. All Rights Reserved.</p>
          </div>
          <div class="seven columns">
            <ul class="link-list right">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#faq">FAQs</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </footer>