<section class="jumbotron">
  <div class="row find_main">
    <div class="four columns">
      <h2><span class="foundicon-location"></span>Find a doctor</h2>
    </div>

    <div class="eight columns find_doctor_field">
      <div class="row">
        <div class="ten columns">
          <div class="eight columns">
            <input type="text" placeholder="Specialization" />
          </div>
          <div class="four columns">
            <input type="text" placeholder="ZIP" />
          </div>
        </div>
        <div class="two columns">
          <input type="submit" class="button radius" value="Find" />
        </div>
      </div>

    </div><!--eight_columns-->
  </div><!--row-->
</section>